**/*.lock
**/*.lha
**/*.zip
**/.D*
**/*.log
**/*.cmd
**/*.lib
**/.*.swp
**/*.obj
**/*.o
**/hack*.img
**/dostest.img
**/cpmhd.img
**/cpm86*.img
**/cpmtest.img
**/*.sym
**/*.lst
**/*.map
.vscode
**/push
**/push
