rom
**/*.bak
**/*.$$$
**/*.lock
**/*.lha
**/*.zip
**/.D*
**/*.log
**/*.cmd
**/*.h86
**/*.hex
**/*.com
**/*.bin
**/*.exe
**/*.lib
**/.*.swp
**/*.obj
**/*.o
**/hack*.img
**/dostest.img
**/cpmhd.img
**/cpm86*.img
**/ccpm86*.img
**/cpmbase.img
**/cpmtest*.img
tmp.img
**/*.sym
**/*.lst
**/*.prn
**/*.map
ansi2kr/ansi2kr
.vscode
**/push
**/.*.swp
**/.D*
vtl2/*.a86
disk7/orig.asm
disk7/orig.a86
wash15/orig.asm
wash15/orig.a86
cpm80/samples/**
tinybas/lander.c
tinybas/lander.com
tinybas/lander.cmd
tinybas/hurkle.c
tinybas/hurkle.com
tinybas/hurkle.cmd
tinybas/tictacto.c
tinybas/tictacto.com
tinybas/tictacto.cmd
tinybas/wumpus.c
tinybas/wumpus.com
tinybas/wumpus.cmd
tinybas/mugwump.c
tinybas/mugwump.com
tinybas/mugwump.cmd
tinybas/hammurab.c
tinybas/hammurab.com
tinybas/hammurab.cmd
tinybas/wumpus.c
tinybas/wumpus.com
tinybas/wumpus.cmd

